<!-- ACCESSORIES -->
<section class="accessories container js-tab3">
  <div class="title">
    <h2>С этим товаром так же покупают:</h2>
  </div>
  <div class="accessories__inner">
    <div class="accs-tabs-wrap">
      <ul class="tabs-list">
        <li class="tabs-list__item">Омыватели</li>
        <li class="tabs-list__item">Очистители</li>
        <li class="tabs-list__item">Топливные фильтры</li>
        <li class="tabs-list__item">Моторное масло</li>
        <li class="tabs-list__item">Инструменты для авто</li>
      </ul>
      <div class="slider-nav">
        <a href="#" class="js-accs-prev"></a>
        <a href="#" class="next js-accs-next"></a>
      </div>
    </div>
    <div class="accs-tab">
      <div class="accs-tab__item">
        <ul class="item-slider js-accs-slider">
          <li class="product-item discount">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item01.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item02.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item ends">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">268</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
            <div class="rating">
              <span style="width:100%" class="rating__percent"></span>
            </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item04.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item05.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="accs-tab__item">
        <ul class="item-slider js-accs-slider">
          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item02.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item discount">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item01.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item ends">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">268</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
            <div class="rating">
              <span style="width:100%" class="rating__percent"></span>
            </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item04.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item05.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="accs-tab__item">
        <ul class="item-slider js-accs-slider">
          <li class="product-item discount">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item01.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item02.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item ends">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">268</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
            <div class="rating">
              <span style="width:100%" class="rating__percent"></span>
            </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item04.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item05.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="accs-tab__item">
        <ul class="item-slider js-accs-slider">
          <li class="product-item discount">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item01.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item02.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item04.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item ends">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">268</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
            <div class="rating">
              <span style="width:100%" class="rating__percent"></span>
            </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item05.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="accs-tab__item">
        <ul class="item-slider js-accs-slider">
          <li class="product-item discount">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item01.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item02.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item ends">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">268</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
            <div class="rating">
              <span style="width:100%" class="rating__percent"></span>
            </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item05.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">456</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item04.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>

          <li class="product-item">
            <a href="#" class="product-item__pic">
              <span class="product-item__discount">Скидка -10%</span>
              <img src="images/product-item03.jpg" alt="">
            </a>
            <div class="product-item__status-wrap">
              <div class="product-item__code">
                <p>Код товара : <span>39207</span></p>
              </div>
              <div class="product-item__in-stock">В наличии</div>
              <div class="product-item__ends-with">Заканчивается</div>
              <div class="product-item__not">Нет в наличии</div>
            </div>
            <a href="#" class="product-item__title">
              <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
            </a>
            <div class="product-item__price-wrap">
              <div class="product-item__price">
                <p><span style="font-size:30px;">104</span> грн</p>
              </div>
              <div class="product-item__old-price">
                <p><span>125</span> грн</p>
              </div>
            </div>
            <div class="product-item__buttons">
              <a href="#" class="button">Купить</a>
              <a href="#" class="product-tools-icon">
                <img src="images/compare-icon.png" alt="compare">
              </a>
            </div>
            <div class="product-item__reviews">
              <div class="rating">
                <span style="width:100%" class="rating__percent"></span>
              </div>
              <div class="reviews-links__item">
                <i class="reviews-links__icon">
                  <img src="images/review-icon.png" alt="review">
                </i>
                <a href="#" class="reviews-links__link"><span>3</span> отзыва</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /ACCESSORIES -->