<!-- COMPATIBLE -->
<section class="compatible container">
  <div class="compatible__top">
    <div class="title">
      <h2>Покупатели выбирают для:</h2>
      <form action="ajax.php" method="post" name="compatible-form" class="compatible__form">
        <select name="compatible">
          <option>Volkswagen Golf, 1.9</option>
          <option>Volkswagen Golf, 2.9</option>
          <option>Volkswagen Golf, 3.9</option>
        </select>
      </form>
    </div>
    <div class="slider-nav">
      <a href="#" class="js-compatible-prev"></a>
      <a href="#" class="next js-compatible-next"></a>
    </div>
  </div>
  <ul class="item-slider js-compatible-slider">
    <li class="product-item discount">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item06.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
        <div class="product-item__old-price">
          <p><span>125</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item07.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">456</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item ends">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item08.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">268</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item09.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item10.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">456</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item07.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
        <div class="product-item__old-price">
          <p><span>125</span> грн</p>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- /COMPATIBLE -->