<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__left">
      <div class="footer__row">
        <div class="footer__col">
          <div class="footer__title">
            <h3>Каталог</h3>
          </div>
          <ul class="footer__list" style="column-count:2;">
            <li>
              <a href="#">Электроника</a>
            </li>
            <li>
              <a href="#">Звук и видео</a>
            </li>
            <li>
              <a href="#">Запчасти и расходники</a>
            </li>
            <li>
              <a href="#">Свет (освещение)</a>
            </li>
            <li>
              <a href="#">Интерьер</a>
            </li>
            <li>
              <a href="#">Экстерьер</a>
            </li>
            <li>
              <a href="#">Колеса</a>
            </li>
            <li>
              <a href="#">Багаж и крепление</a>
            </li>
            <li>
              <a href="#">Автохимия</a>
            </li>
            <li>
              <a href="#">Техпомощь</a>
            </li>
            <li>
              <a href="#">Инструмент</a>
            </li>
            <li>
              <a href="#">Туризм</a>
            </li>
            <li>
              <a href="#">4х4 джипинг</a>
            </li>
            <li>
              <a href="#">Мото</a>
            </li>
          </ul>
        </div>

        <div class="footer__col">
          <div class="footer__title">
            <h3>Компания</h3>
          </div>
          <ul class="footer__list">
            <li>
              <a href="#">О нас</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
            <li>
              <a href="#">Магазины</a>
            </li>
            <li>
              <a href="#">Партнеры</a>
            </li>
            <li>
              <a href="#">Оптовым покупателям</a>
            </li>
          </ul>
        </div>

        <div class="footer__col">
          <div class="footer__title">
            <h3>Покупателям</h3>
          </div>
          <ul class="footer__list">
            <li>
              <a href="#">Покупателям</a>
            </li>
            <li>
              <a href="#">Оплата</a>
            </li>
            <li>
              <a href="#">Гарантия</a>
            </li>
            <li>
              <a href="#">Кредит</a>
            </li>
            <li>
              <a href="#">Бонусная программа</a>
            </li>
            <li>
              <a href="#">Акции</a>
            </li>
            <li>
              <a href="#">Карта сайта</a>
            </li>
          </ul>
        </div>

        <div class="footer__col">
          <div class="footer__title">
            <h3>Информация</h3>
          </div>
          <ul class="footer__list">
            <li>
              <a href="#">Как выбрать</a>
            </li>
            <li>
              <a href="#">Сравнительные тесты</a>
            </li>
            <li>
              <a href="#">Новости</a>
            </li>
            <li>
              <a href="#">Часто задаваемые вопросы</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">
        <span>© 2016, База автозвука</span>
        <span>Разработано в
          <a href="#" target="_blank">
            <img src="images/logo-dev.png" alt="logo">
          </a>
        </span>
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__tel">
        <a href="tel:0800301585">0 800 30-15-85</a>
        <p>Бесплатно со стационарных и мобильных телефонов Украины</p>
      </div>
      <div class="social">
        <div class="social__title">
          <h4>Следите за нами в соцсетях:</h4>
        </div>
        <ul class="social__list">
          <li>
            <a href="http://www.facebook.com/pages/avtozvukua/135367906513869?v" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+%D0%B1%D0%B0%D0%B7%D0%B0%D0%B0%D0%B2%D1%82%D0%BE%D0%B7%D0%B2%D1%83%D0%BA%D0%B0/posts" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/avtozvuk" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/BasaAvtozvuka" target="_blank">
              <img src="images/youtube-icon.png" alt="youtube">
            </a>
          </li>
          <li>
            <a href="https://vk.com/bazaavtozvuk" target="_blank">
              <img src="images/vk-icon.png" alt="vkontakte">
            </a>
          </li>
          <li>
            <a href="http://instagram.com/baza_avtozvuka" target="_blank">
              <img src="images/instagram-icon.png" alt="instagram">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
