<!-- HEADER -->
<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <ul class="header-menu">
          <li>
            <a href="#">Контакты</a>
          </li>
          <li>
            <a href="#">Магазины</a>
          </li>
          <li>
            <a href="#">О нас</a>
          </li>
          <li>
            <a href="#">Доставка</a>
          </li>
          <li>
            <a href="#">Оплата</a>
          </li>
          <li>
            <a href="#">Бонусная программа</a>
          </li>
        </ul>
        <div class="header-top__center">
          <ul class="header-lang">
            <li>
              <a href="#" class="active">Рус</a>
            </li>
            <li>
              <a href="#">Укр</a>
            </li>
          </ul>
          <div class="header-city">
            <span>Ваш город:</span>
            <ul class="header-city__list">
              <li>
                <a href="#" class="header-city__label">Киев</a>
                <ul>
                  <li>
                    <a href="#">Киев</a>
                  </li>
                  <li>
                    <a href="#">Винница</a>
                  </li>
                  <li>
                   <a href="#">Хмельницкий</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <ul class="header-admin">
          <li>
            <a href="#" style="color:#fb2539;">
              <i class="header-admin__icon">
                <img src="images/login-icon.png" alt="login">
              </i> 
            Вход</a>
          </li>
          <li>
            <a href="#">Регистрация</a>
          </li>
        </ul>        
      </div>
    </div>
  </div>

  <div class="header-center container">
    <a href="index.html" class="header-logo">
      <img src="images/logo.png" alt="logo">
    </a>
    <form action="ajax.php" method="post" name="search-form" class="search-form">
      <input type="text" name="search" placeholder="Поиск по названию, коду, категории товара" />
      <button type="submit"></button>
    </form>
    <div class="header-phone">
      <ul class="phone">
        <li>
          <a href="tel:0800301585">0-800-30-15-85</a>
          <i class="phone__show"></i>
          <ul>
            <li>
              <a href="tel:0800301585">0-800-30-15-86</a>
            </li>
            <li>
              <a href="tel:0800301585">0-800-30-15-87</a>
            </li>
            <li>
              <a href="tel:0800301585">0-800-30-15-88</a>
            </li>
          </ul>
        </li>
      </ul>
      <a href="#" class="button-border">Обратный звонок</a>
    </div>
    <ul class="details">
      <li>
        <a href="#">
          <i class="details__icon">
            <span class="details__count">1</span>
            <img src="images/garage-icon.png" alt="garage">
          </i>
          <p>Гараж</p>
        </a>
      </li>
      <li>
        <a href="#" class="count-show">
          <i class="details__icon">
            <span class="details__count">1</span>
            <img src="images/heart-icon.png" alt="heart">
          </i>
          <p>Избранное</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="details__icon">
            <span class="details__count">1</span>
            <img src="images/compare-icon.png" alt="compare">
          </i>
          <p>Сравнение</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="details__icon">
            <span class="details__count">1</span>
            <img src="images/basket-icon.png" alt="basket">
          </i>
          <p>Корзина</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="header-bottom">
    <div class="container">
      <ul class="nav-list">
        <li>
          <a href="#">
            <i class="nav-list__icon">
              <img src="images/catalog-icon.png" alt="catalog">
            </i>
            Каталог товаров
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nav-list__icon">
              <img src="images/stock-icon.png" alt="stock">
            </i>
            Акции
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nav-list__icon">
              <img src="images/tests-icon.png" alt="tests">
            </i>
            Сравнительные тесты
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nav-list__icon">
              <img src="images/choice-icon.png" alt="choice">
            </i>
            Как выбрать
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nav-list__icon">
              <img src="images/news-icon.png" alt="news">
            </i>
            Новости
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- /HEADER -->

