<!-- PRODUCT TABS-->
<div class="container js-tab">
  <div class="tabs-wrap">
    <ul class="product-tabs-list">
      <li class="product-tabs-list__item">Характеристики</li>
      <li class="product-tabs-list__item">Описание</li>
      <li class="product-tabs-list__item">Отзывы и вопросы (<span>40</span>)</li>
      <li class="product-tabs-list__item">Видеообзоры и статьи</li>
      <li class="product-tabs-list__item">Сертификаты</li>
    </ul>

    <div class="product-tab-wrap">
      <div class="product-tab">
        <div class="product-tab__item">
          <div class="product-tab__title">
            <h3>Характеристики товара</h3>
          </div>
          <div class="table">
            <div class="table__row">
              <div class="table__col">Класс вязкости:</div>
              <div class="table__col">5W-40</div>
            </div>
            <div class="table__row">
              <div class="table__col">сСт при 40ºC:</div>
              <div class="table__col">84</div>
            </div>
            <div class="table__row">
              <div class="table__col">сСт при 100ºC:</div>
              <div class="table__col">14</div>
            </div>
            <div class="table__row">
              <div class="table__col">Зольность сульфатная, % мас., ASTM D 874:</div>
              <div class="table__col">1,1</div>
            </div>
            <div class="table__row">
              <div class="table__col">Содержание фосфора:</div>
              <div class="table__col">0,0095</div>
            </div>
            <div class="table__row">
              <div class="table__col">Температура вспышки, ºC, ASTM D 92:</div>
              <div class="table__col">222</div>
            </div>
            <div class="table__row">
              <div class="table__col">Температура застывания, ºC, ASTM D 97:</div>
              <div class="table__col">-39</div>
            </div>
            <div class="table__row">
              <div class="table__col">Lorem ipsum dolor sit amet</div>
              <div class="table__col">123</div>
            </div>
            <div class="table__row">
              <div class="table__col">Lorem ipsum dolor sit amet</div>
              <div class="table__col">321</div>
            </div>
            <div class="table__row">
              <div class="table__col">Lorem ipsum dolor sit amet</div>
              <div class="table__col">321</div>
            </div>
            <div class="table__row">
              <div class="table__col">Lorem ipsum dolor sit amet</div>
              <div class="table__col">321</div>
            </div>
          </div>
          <a href="#" class="show-more js-show-table">Показать все характеристики</a>
        </div>

        <div class="product-tab__item">
          <div class="product-tab__title">
            <h3>Описание товара</h3>
          </div>
          <div class="product-tab__text">
            <p>Mobil Super 3000 X1 5W-40 представляет собой синтетическое моторное масло, обеспечивающее длительный срок службы двигателей в автомобилях различных типов и годов выпуска, а также повышенный уровень их защиты в широком диапазоне температур.</p> 
            <br>
            <p>Продукты семейства Mobil Super 3000™ уже хорошо зарекомендовали себя на рынке, поэтому Вы можете быть уверены в том, что эксплуатационные свойства Вашего автомобиля будут полностью соответствовать ожиданиям.</p>
            <br>
            <p>Mobil Super 3000 X1 5W-40 представляет собой синтетическое моторное масло, обеспечивающее длительный срок службы двигателей в автомобилях различных типов и годов выпуска, а также повышенный уровень их защиты в широком диапазоне температур.</p>
            <br>
            <p>Продукты семейства Mobil Super 3000™ уже хорошо зарекомендовали себя на рынке, поэтому Вы можете быть уверены в том, что эксплуатационные свойства Вашего автомобиля будут полностью соответствовать ожиданиям.</p>
          </div>
          <a href="#" class="show-more js-show-descript">Подробнее</a>
        </div>
        <div class="product-tab__item js-tab2">
          <div class="reviews-tabs-wrap">
            <ul class="tabs-list">
              <li class="tabs-list__item">Отзывы (<span>10</span>)</li>
              <li class="tabs-list__item">Вопросы (<span>7</span>)</li>
            </ul>
            <a href="#" class="button button--yellow">Оставить отзыв</a>
          </div>
          <div class="reviews-tab">
            <div class="reviews-tab__item">
              <div class="reviews-tab__item-wrap">
                <div class="reviews-item">
                  <div class="reviews-item__left">
                    <div class="reviews-item__left-top">
                      <div class="reviews-item__title">
                        <p>Владимир</p>
                      </div>
                      <div class="reviews-item__date">
                        <p>04.07.2016</p>
                      </div>
                    </div>
                    <div class="reviews-item__text">
                      <p>У Huawei краща основна камера ніж в Lenovo при тому, що Lenovo ніколи не були сильні в плані фото, а також у y6 pro кращий процесор (вища частота) і, як кажуть, краща оптимізація, що позитивно впливає на тривалість роботи. До того ж, мені здається, що у Huawei менше проблем по якості ніж у Lenovo. Захист від бризг у Р1m є скоріше</p>
                    </div>
                    <div class="reviews-item__plus">
                      <p><span style='color:#57ae85;font-weight:700;margin-right:7px;'>Достоинства:  </span>хорошая батарея, и вообще неплохой смартфон</p>
                    </div>
                    <div class="reviews-item__minus">
                      <p><span style="color:#f8727e;font-weight:700;margin-right:7px;">Недостатки:  </span>не обнаружены</p>
                    </div>
                    <div class="reviews-item__left-bottom">
                      <ul class="reply-list">
                        <li>
                          <a href="#"><span>1</span> ответ</a>
                        </li>
                        <li>
                          <a href="#">Ответить</a>
                        </li>
                      </ul>
                      <div class="reviews-item__vote-wrap">
                        <p>Был ли вам полезен этот отзыв:</p>
                        <ul class="vote">
                          <li class="vote__item">
                            <a href="#">
                              <img src="images/like-icon.png" alt="like">
                            </a>
                            <span style="color:#57ae85;">14</span>
                          </li>
                          <li class="vote__item vote__item--dislike">
                            <a href="#">
                              <img src="images/like-icon.png" alt="dislike">
                            </a>
                            <span style="color:#fb2539;">3</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="reviews-item__right">
                    <div class="reviews-item__title">
                      <p>Оценка</p>
                    </div>
                    <div class="reviews-item__rating-wrap">
                      <div class="rating">
                        <span style="width:80%" class="rating__percent"></span>
                      </div>
                      <span>4,0</span>
                    </div>
                  </div>
                </div>

                <div class="reviews-item">
                  <div class="reviews-item__left">
                    <div class="reviews-item__left-top">
                      <div class="reviews-item__title">
                        <p>Панас</p>
                      </div>
                      <div class="reviews-item__date">
                        <p>04.07.2016</p>
                      </div>
                    </div>
                    <div class="reviews-item__text">
                      <p>У Huawei краща основна камера ніж в Lenovo при тому, що Lenovo ніколи не були сильні в плані фото, а також у y6 pro кращий процесор (вища частота) і, як кажуть, краща оптимізація, що позитивно впливає на тривалість роботи. До того ж, мені здається, що у Huawei менше проблем по якості ніж у Lenovo. Захист від бризг у Р1m є скоріше рекламним трюком ніж реальним захистом та і потреба в ньому виникає не часто.
                      <br>
                      У Huawei краща основна камера ніж в Lenovo при тому, що Lenovo ніколи не були сильні в плані фото, а також у y6 pro кращий процесор (вища частота) і, як кажуть, краща оптимізація, що позитивно впливає на тривалість роботи. До того ж, мені здається, що у Huawei менше проблем по якості ніж у Lenovo. Захист від бризг у Р1m є скоріше рекламним трюком ніж реальним захистом та і потреба в ньому виникає не часто.</p>
                    </div>
                    <a href="#" class="show-more js-show-reviews">Читать полностью</a>
                    <div class="reviews-item__plus">
                      <p><span style='color:#57ae85;font-weight:700;margin-right:7px;'>Достоинства:  </span>хорошая батарея, и вообще неплохой смартфон</p>
                    </div>
                    <div class="reviews-item__minus">
                      <p><span style="color:#f8727e;font-weight:700;margin-right:7px;">Недостатки:  </span>не обнаружены</p>
                    </div>
                    <div class="reviews-item__left-bottom">
                      <ul class="reply-list">
                        <li>
                          <a href="#"><span>1</span> ответ</a>
                        </li>
                        <li>
                          <a href="#">Ответить</a>
                        </li>
                      </ul>
                      <div class="reviews-item__vote-wrap">
                        <p>Был ли вам полезен этот отзыв:</p>
                        <ul class="vote">
                          <li class="vote__item">
                            <a href="#">
                              <img src="images/like-icon.png" alt="like">
                            </a>
                            <span style="color:#57ae85;">14</span>
                          </li>
                          <li class="vote__item vote__item--dislike">
                            <a href="#">
                              <img src="images/like-icon.png" alt="dislike">
                            </a>
                            <span style="color:#fb2539;">3</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="reviews-item__right">
                    <div class="reviews-item__title">
                      <p>Оценка</p>
                    </div>
                    <div class="reviews-item__rating-wrap">
                      <div class="rating">
                        <span style="width:60%" class="rating__percent"></span>
                      </div>
                      <span>3,0</span>
                    </div>
                  </div>
                </div>

                <div class="reviews-item">
                  <div class="reviews-item__left">
                    <div class="reviews-item__left-top">
                      <div class="reviews-item__title">
                        <p>Анастасия</p>
                      </div>
                      <div class="reviews-item__date">
                        <p>04.07.2016</p>
                      </div>
                    </div>
                    <div class="reviews-item__text">
                      <p>У Huawei краща основна камера ніж в Lenovo при тому, що Lenovo ніколи не були сильні в плані фото, а також у y6 pro кращий процесор (вища частота) і, як кажуть, краща оптимізація, що позитивно впливає на тривалість роботи. До того ж, мені здається, що у Huawei менше проблем по якості ніж у Lenovo. Захист від бризг у Р1m є скоріше</p>
                    </div>
                    <div class="reviews-item__left-bottom">
                      <ul class="reply-list">
                        <li>
                          <a href="#"><span>1</span> ответ</a>
                        </li>
                        <li>
                          <a href="#">Ответить</a>
                        </li>
                      </ul>
                      <div class="reviews-item__vote-wrap">
                        <p>Был ли вам полезен этот отзыв:</p>
                        <ul class="vote">
                          <li class="vote__item">
                            <a href="#">
                              <img src="images/like-icon.png" alt="like">
                            </a>
                            <span style="color:#57ae85;">14</span>
                          </li>
                          <li class="vote__item vote__item--dislike">
                            <a href="#">
                              <img src="images/like-icon.png" alt="dislike">
                            </a>
                            <span style="color:#fb2539;">3</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="reviews-item__right">
                    <div class="reviews-item__title">
                      <p>Оценка</p>
                    </div>
                    <div class="reviews-item__rating-wrap">
                      <div class="rating">
                        <span style="width:100%" class="rating__percent"></span>
                      </div>
                      <span>5,0</span>
                    </div>
                  </div>
                </div>
                <a href="#" class="show-more js-all-reviews" data-action="load_more_items2" data-page="2" data-per-page="3">Показать все отзывы</a>
              </div>
            </div>
            <div class="reviews-tab__item">
              Вопросы
            </div>
          </div>
        </div>
        <div class="product-tab__item">
          <div class="product-tab__title">
            <h3>Видеообзоры (<span>2</span>)</h3>
          </div>
          <ul class="video-reviews">
            <li>
              <iframe width="447" height="294" src="https://www.youtube.com/embed/MGUDa1woEbQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </li>
            <li>
              <iframe width="447" height="294" src="https://www.youtube.com/embed/HZmCQP8emHo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </li>
          </ul>
          <div class="product-tab__title">
            <h3>Статьи (<span>2</span>)</h3>
          </div>
          <div class="articles-slider-wrap">
            <ul class="articles-slider">
              <li class="article-item">
                <a href="#" class="article-item__left">
                  <img src="images/articles-pic01.jpg" alt="">
                </a>
                <div class="article-item__right">
                  <div class="article-item__date">
                    <p>16 августа 2016</p>
                  </div>
                  <a href="#" class="article-item__title">
                    <h3>Подробный обзор и выявление недостатков навигатора DriveAssist 50LMT</h3>
                  </a>
                  <div class="article-item__text cut-text" data-cut="172">
                    <p>Современные технологии буквально с каждым днем все глубже и глубже загоняют в могилу некоторые автомобильные девайсы, взять к примеру GPS навигатор. Еще каких-то два-три года назад, он был одним из самых желаемых авто-гаджетов. А теперь достаточно скачать на смартфон бесплатную</p>
                  </div>
                </div>
              </li>

              <li class="article-item">
                <a href="#" class="article-item__left">
                  <img src="images/articles-pic02.jpg" alt="">
                </a>
                <div class="article-item__right">
                  <div class="article-item__date">
                    <p>16 августа 2016</p>
                  </div>
                  <a href="#" class="article-item__title">
                    <h3>Подробный обзор и выявление недостатков навигатора DriveAssist 50LMT</h3>
                  </a>
                  <div class="article-item__text cut-text" data-cut="172">
                    <p>Современные технологии буквально с каждым днем все глубже и глубже загоняют в могилу некоторые автомобильные девайсы, взять к примеру GPS навигатор. Еще каких-то два-три года назад, он был одним из самых желаемых авто-гаджетов. А теперь достаточно скачать на смартфон бесплатную</p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="slider-nav slider-nav--column">
              <a href="#" class="next js-articles-next"></a>
              <a href="#" class="js-articles-prev"></a>
            </div>
          </div>
        </div>
        <div class="product-tab__item">
          <div class="product-tab__title">
            <h3>Сертификаты соответствия</h3>
          </div>
          <ul class="certificates">
            <li>
              <a href="images/certificat01.jpg" data-fancybox-group="gallery1" data-fancybox="gallery">
                <img src="images/certificat01.jpg" alt="">
              </a>
            </li>
            <li>
              <a href="images/certificat02.jpg" data-fancybox-group="gallery1" data-fancybox="gallery">
                <img src="images/certificat02.jpg" alt="">
              </a>
            </li>
            <li>
              <a href="images/certificat03.jpg" data-fancybox-group="gallery1" data-fancybox="gallery">
                <img src="images/certificat03.jpg" alt="">
              </a>
            </li>
            <li>
              <a href="images/certificat04.jpg" data-fancybox-group="gallery1" data-fancybox="gallery">
                <img src="images/certificat04.jpg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <aside class="side-bar">
        <div class="product-item not">
          <a href="#" class="product-item__pic">
            <span class="product-item__discount">Скидка -10%</span>
            <img src="images/product-item04.jpg" alt="">
          </a>
          <div class="product-item__status-wrap">
            <div class="product-item__in-stock">В наличии</div>
            <div class="product-item__ends-with">Заканчивается</div>
            <div class="product-item__not">Нет в наличии</div>
          </div>
          <a href="#" class="product-item__title">
            <h4>Моторное масло Liqui Moly TOP TEC 4100 5W-40 4</h4>
          </a>
          <div class="product-item__price-wrap">
            <div class="product-item__price">
              <p><span style="font-size:30px;">326</span> грн</p>
            </div>
          </div>
          <div class="product-item__buttons">
            <a href="#" class="button-border button-border--red">Сообщить<br>о поступлении</a>
            <a href="#" class="product-tools-icon">
              <img src="images/compare-icon.png" alt="compare">
            </a>
          </div>
          <div class="show-similar">
            <a href="#">Показать все похожие товары</a>
          </div>
        </div>
        <div class="compatible-side">
          <div class="compatible-side__title">
            <p>Товар подходит к вашему авто:</p>
          </div>
          <form action="ajax.php" method="post" name="compatible-form" class="compatible__form">
            <select name="compatible">
              <option>Volkswagen Golf, 1.9</option>
              <option>Volkswagen Golf, 2.9</option>
              <option>Volkswagen Golf, 3.9</option>
            </select>
          </form>
        </div>
      </aside>
    </div>
  </div>
</div>
<!-- /PRODUCT TABS -->
