<!-- SIMILAR -->
<section class="similar container">
  <div class="title">
    <h2>Похожие товары</h2>
    <div class="slider-nav">
      <a href="#" class="js-similar-prev"></a>
      <a href="#" class="next js-similar-next"></a>
    </div>
  </div>
  <ul class="item-slider js-similar-slider">
    <li class="product-item discount">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item01.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
        <div class="product-item__old-price">
          <p><span>125</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item02.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">456</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item ends">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item03.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Mobil Super 3000 X1 5W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">268</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item04.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item05.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Shell Helix HX7 10W-40 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">456</span> грн</p>
        </div>
      </div>
    </li>

    <li class="product-item">
      <a href="#" class="product-item__pic">
        <span class="product-item__discount">Скидка -10%</span>
        <img src="images/product-item03.jpg" alt="">
      </a>
      <div class="product-item__status-wrap">
        <div class="product-item__code">
          <p>Код товара : <span>39207</span></p>
        </div>
        <div class="product-item__in-stock">В наличии</div>
        <div class="product-item__ends-with">Заканчивается</div>
        <div class="product-item__not">Нет в наличии</div>
      </div>
      <a href="#" class="product-item__title">
        <h4>Моторное масло Castrol Magnatec 10W-40 A3/B4 4 л</h4>
      </a>
      <div class="product-item__price-wrap">
        <div class="product-item__price">
          <p><span style="font-size:30px;">104</span> грн</p>
        </div>
        <div class="product-item__old-price">
          <p><span>125</span> грн</p>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- /SIMILAR -->