<!-- VIEWED -->
<section class="viewed container">
  <div class="title">
    <h2>Вы просматривали</h2>
    <a href="#" class="show-more">Все просмотренные товары</a>
  </div>
  <div class="viewed__inner">
    <ul class="viewed-slider js-viewed-slider">
      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item11.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>

      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item12.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>

      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item13.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>

      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item14.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>

      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item15.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>

      <li class="product-item">
        <a href="#" class="product-item__pic">
          <span class="product-item__discount">Скидка -10%</span>
          <img src="images/product-item13.jpg" alt="">
        </a>
        <a href="#" class="product-item__title">
          <h4>Трансмиссионное масло CASTRO Manual EP 80W-90 1л</h4>
        </a>
        <div class="product-item__status-wrap">
          <div class="product-item__in-stock">В наличии</div>
          <div class="product-item__ends-with">Заканчивается</div>
          <div class="product-item__not">Нет в наличии</div>
        </div>
        <div class="product-item__price-wrap">
          <div class="product-item__price">
            <p><span style="font-size:20px;">345</span> грн</p>
          </div>
        </div>
        <div class="product-item__buttons">
          <a href="#" class="button">Купить</a>
          <a href="#" class="product-tools-icon">
            <img src="images/compare-icon.png" alt="compare">
          </a>
        </div>
        <div class="product-item__reviews">
          <div class="rating">
            <span style="width:100%" class="rating__percent"></span>
          </div>
          <div class="reviews-links__item">
            <i class="reviews-links__icon">
              <img src="images/review-icon.png" alt="review">
            </i>
            <a href="#" class="reviews-links__link"><span>32</span> отзыва</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="slider-nav slider-nav--column">
      <a href="#" class="next js-viewed-next"></a>
      <a href="#" class="js-viewed-prev"></a>
    </div>
  </div>
</section>
<!-- /VIEWED -->